@tailwind base;
@tailwind components;
@tailwind utilities;

#page-form-wrap {
    @apply p-8;

    h1 {
        @apply
        mb-4 text-black text-xl
        dark:text-white;
    }

    .alert {
        @apply 
        border-2 mb-4 px-4 py-2
        dark:bg-slate-700 dark:text-white;
        
        &.error {
            @apply border-red-700;
        }

        &.success {
            @apply border-green-700;
        }
    }

    form {
        @apply 
        flex flex-col w-full
        md:flex-row md:flex-wrap;

        .input-wrapper {
            @apply
            py-4;

            input[type=email],
            input[type=text] {
                @apply
                w-full
                dark:focus:border-slate-900 dark:focus:ring-slate-900;
            }

            select {
                @apply 
                w-full
                dark:focus:border-slate-900 dark:focus:ring-slate-900;
            }

            textarea {
                @apply 
                w-full
                dark:focus:border-slate-900 dark:focus:ring-slate-900;
            }
        }

        #left-col {
            @apply 
            flex flex-col pr-[20px] w-9/12;

            label {
                @apply
                absolute h-[1px] overflow-hidden whitespace-nowrap w-[1px];
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
            }

            textarea {
                @apply h-[400px];
            }
        }

        #right-col {
            @apply border-l border-l-gray-700 pl-[20px] w-3/12;

            label {
                @apply
                block mb-1 text-black w-full
                dark:text-white;
            }

            #draft-page {
                @apply
                px-3 py-1 rounded-sm
                dark:bg-white text-black; 
            }

            button {
                @apply
                bg-slate-600 capitalize px-6 py-2 text-white
                hover:bg-slate-700;
            }
        }
    }
}

#page-table {
    @apply p-8;

    #page-header {
        @apply
        flex flex-col
        md:flex-row md:flex-wrap md:items-center md:justify-between;

        h1 {
            @apply
            mb-4 text-2xl
            dark:text-white;
        }

        .button {
            @apply
            duration-300 px-3 py-1 rounded-sm
            dark:bg-gray-300 dark:text-black
            dark:hover:bg-gray-400;
        }
    }

    .admin-table {
        @apply w-full;

        thead {
            @apply bg-slate-700;

            th {
                @apply 
                p-2 text-left
                dark:text-white;
            }
        }

        tbody {
            tr {
                @apply
                odd:bg-gray-300
                even:bg-gray-400;

                td {
                    @apply p-2 text-white;

                    &#actions-row {
                        @apply
                        flex flex-col
                        md:flex-row md:flex-wrap md:gap-3;
                    }
                }
            }
        }
    }
}

#error-page {
    @apply p-8;

    h1 {
        @apply
        mb-4 text-2xl
        dark:text-white;
    }

    p {
        @apply
        mb-4
        dark:text-white;
    }

    .button {
        @apply
        px-6 py-2 rounded-sm
        dark:bg-white text-black;
    }
}